.review-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:4px solid black; */
    /* border-radius: 15px; */
    width: 400px;
}

.font{
    font-family:sans-serif;
}

.textarea{
    width: 90%;
    height: 70px;
    margin-top: -30px;
    border: 2px solid black
}

.star-rating {
    display: flex;
    align-items: center;
}

.err{
    color: red;
}

.star{
    height: 46px;
    padding: 0 10px;
    float: left;
}

.star:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.star:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.star:not(:checked)>label:before {
    content: "★ ";
}

.star>input:checked~label {
    color: #ffc700;
}

.star:not(:checked)>label:hover,
.star:not(:checked)>label:hover~label {
    color: #deb217;
}

.star>input:checked+label:hover,
.star>input:checked+label:hover~label,
.star>input:checked~label:hover,
.star>input:checked~label:hover~label,
.star>label:hover~input:checked~label {
    color: #c59b08;
}


.review-submit{
    color: white;
    background-color: rgb(176, 7, 7);
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 10px;
    margin-bottom: 15px;
    width: 90%;
    font-size: 15px;
}

.review-submit:disabled{
    color: rgb(138, 134, 134);
    background-color: lightgray;
    border: 2px solid gray;
    font-size: 15px;
}
