.div-spots {
    display: grid;
    margin: 10px auto;
    max-width: 1000px;
    grid: 255px/ repeat(auto-fill,255px)
}

.div-spot {
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.div-spotImage{
    display: flex;
    height: 210px;
    align-items: center;
}


.spot-image{
    height: 200px;
    width: 100%;
    border:0.80px solid black

}

.div-city-state{
    display: flex;
    justify-content: space-between;

}
