.LogIn{
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;


}

.login-modal-div{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

.div-LogIn-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;


}

.input{
    margin: 6px;
    width: 300px;
    border: 1.5px solid #000000;
}

.err{
    color: red
}

.div-button-login{
    display: flex;
    justify-content: center;

}

.login-button{
    border-radius: 4px;
    font-size: 14px;
    margin: 15px 5px;
    width: 300px;
    height: 40px;
    background-color: rgb(177, 42, 18);
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #000000;
}

.div-demoUser{
    background-color: white;
    color:rgb(6, 93, 120);
    border: 1px solid white;
    padding-bottom: 10px;
    text-decoration: underline;
    font-size: 15px;
}

.login-button:disabled{
    color: rgb(130, 129, 129);
    background-color:lightgrey;
    border: 2px solid grey;
}
